@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

@import "tailwindcss";
/* 
@theme {
    --font-primary: "Josefin Sans";
    --color-primary: #5B21B6;
    --color-dark: #4C1D95;
    --color-lighter: #F5F3FF;
    --color-light: #DDD6FE;
} */
/* @import "tailwindcss/base"; */
/* @import "tailwindcss/components"; 
@import "tailwindcss/utilities"; 
@import "tailwindcss/preflight"; */


:root {
    --font-primary: "Josefin Sans", sans-serif;
    --color-primary: #5B21B6;
    --color-dark: #4C1D95;
    --color-lighter: #F5F3FF;
    --color-light: #DDD6FE;
}
.text-primary {
  color: var(--color-primary);
}
body {
  font-family: var(--font-primary);
}
.bg-primary {
  background-color: var(--color-primary);
}
